

<div class="header">
  <div class="header__bg"></div>

  <h1 class="header__title">Server Sistem Otomasyonları</h1>
</div>
<br><br>
<div class="about">
  <div class="about__title">
    <h2 class="about__title--text">
      Server Sistem Kurulumu İşinize Ne Kadar Katkıda Bulunur?
    </h2>
  </div>
  <div class="about__text">
    <p class="about__text--content">
      Kritik iş uygulamaları ve veri yönetimi için doğru sunucu çözümlerinin
      seçilmesi, gerek iş sürekliliği gerek veri güvenliği için çok önemlidir.
      Sunucu sistem projelerinizde, kurulum, konfigürasyon, migration, mevcut
      sisteme entegrasyon ve tüm yapılandırma detayları ile ilgili konusunda
      deneyimli ve gerekli sertifikalara sahip teknik ekibimiz her zaman
      yanınızda olmaya hazır.
    </p>
  </div>
</div>
<hr class="featurette-divider" />
<div style="color: rgb(1, 90, 90)">
  <div style="text-align: center">
    <h4>SERVER SİSTEM ÖZELLİKLERİ</h4>
  </div>
</div>
<br />
<br />
<br />
<div class="row featurette" style="padding-left: 15%">
  <div class="col-md-7 order-md-2">
    <h5>
      <br />
      <br />
      <span class="text-muted"
        ><ul style="list-style-type: none">
          <li>
            <svg
              style="color: rgb(1, 90, 90)"
              xmlns="http://www.w3.org/2000/svg"
              width="19"
              height="19"
              fill="currentColor"
              class="bi bi-arrow-right-circle"
              viewBox="0 0 18 18"
            >
              <path
                fill-rule="evenodd"
                d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"
              />
            </svg>
            Yeni nesil tüm cihazlarla uyumlu çalışır.
          </li>

          <br />
          <li>
            <svg
              style="color: rgb(1, 90, 90)"
              xmlns="http://www.w3.org/2000/svg"
              width="19"
              height="19"
              fill="currentColor"
              class="bi bi-arrow-right-circle"
              viewBox="0 0 18 18"
            >
              <path
                fill-rule="evenodd"
                d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"
              />
            </svg>
            iOS, Android ve tüm Windows işletim sistemlerinden kontrol
            edilebilir.
          </li>
          <br />
          <li>
            <svg
              style="color: rgb(1, 90, 90)"
              xmlns="http://www.w3.org/2000/svg"
              width="19"
              height="19"
              fill="currentColor"
              class="bi bi-arrow-right-circle"
              viewBox="0 0 18 18"
            >
              <path
                fill-rule="evenodd"
                d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"
              />
            </svg>
            HDMI bağlantı ile Notebook veya Masaütü cihazlardan izlenebilir.
          </li>
          <br /></ul
      ></span>
    </h5>
  </div>
  <div class="col-md-5 order-md-1">
    <h4 style="color: black">=> Uyumluluk</h4>
    <br />
    <img
      class="featurette-image img-fluid mx-auto"
      src="https://images.pexels.com/photos/34140/pexels-photo.jpg?auto=compress&cs=tinysrgb&dpr=1&w=500"
      data-src="holder.js/500x500/auto"
      alt="Generic placeholder image"
      loading="lazy"
    />
  </div>
</div>
<br />
<hr class="featurette-divider" />
<div class="row featurette" style="padding-left: 15%">
  <div class="col-md-7 order-md-2">
    <h5>
      <br />
      <br />
      <span class="text-muted"
        ><ul style="list-style-type: none">
          <li style="padding-right: 10%">
            <svg
              style="color: rgb(1, 90, 90)"
              xmlns="http://www.w3.org/2000/svg"
              width="19"
              height="19"
              fill="currentColor"
              class="bi bi-arrow-right-circle"
              viewBox="0 0 18 18"
            >
              <path
                fill-rule="evenodd"
                d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"
              />
            </svg>
            Sipariş Talebine göre üretim tarafından oluşturulan iş emirleri
            prosesdeki istenilen üretim hatlarına anlık olarak gönderilebilir.
          </li>

          <br />
          <li style="padding-right: 10%">
            <svg
              style="color: rgb(1, 90, 90)"
              xmlns="http://www.w3.org/2000/svg"
              width="19"
              height="19"
              fill="currentColor"
              class="bi bi-arrow-right-circle"
              viewBox="0 0 18 18"
            >
              <path
                fill-rule="evenodd"
                d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"
              />
            </svg>
            Makinelerden alınan üretim zamanları, üretim adetleri, performans
            bilgileri doğrultusunda çok detaylı ve hassas üretim planı
            oluşturulabilir.
          </li>
          <br />
          <li style="padding-right: 10%">
            <svg
              style="color: rgb(1, 90, 90)"
              xmlns="http://www.w3.org/2000/svg"
              width="19"
              height="19"
              fill="currentColor"
              class="bi bi-arrow-right-circle"
              viewBox="0 0 18 18"
            >
              <path
                fill-rule="evenodd"
                d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"
              />
            </svg>
            Veri analizleri ve raporlar sonucunda, sipariş talebine göre üretim
            şekillendirilebilir.
          </li>
          <br />
          <li style="padding-right: 10%">
            <svg
              style="color: rgb(1, 90, 90)"
              xmlns="http://www.w3.org/2000/svg"
              width="19"
              height="19"
              fill="currentColor"
              class="bi bi-arrow-right-circle"
              viewBox="0 0 18 18"
            >
              <path
                fill-rule="evenodd"
                d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"
              />
            </svg>
            Ofis tarafından tüm makinelerde online olarak üretim takibi
            yapılabilir ve müdahale edilebilir.
          </li>
        </ul></span
      >
    </h5>
  </div>
  <div class="col-md-5 order-md-1">
    <h4 style="color: black">=> Üretim Planlama</h4>
    <br />
    <img
      class="featurette-image img-fluid mx-auto"
      src="https://images.pexels.com/photos/212286/pexels-photo-212286.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
      data-src="holder.js/500x500/auto"
      alt="Generic placeholder image"
      loading="lazy"
    />
  </div>
</div>
<hr class="featurette-divider" />
<div class="row featurette" style="padding-left: 15%">
  <div class="col-md-7 order-md-2">
    <h5>
      <br />
      <br />
      
      <span class="text-muted"
        ><ul style="list-style-type: none; padding-left: 3%;padding-right:10% ;">
          <li >
            <svg
              style="color: rgb(1, 90, 90)"
              xmlns="http://www.w3.org/2000/svg"
              width="19"
              height="19"
              fill="currentColor"
              class="bi bi-arrow-right-circle"
              viewBox="0 0 18 18"
            >
              <path
                fill-rule="evenodd"
                d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"
              />
            </svg>
            Müşteri isteği doğrultusunda üretim ile alakalı detaylı olarak
            Performans Tabloları, Duruş Tabloları, Üretim Takip Tabloları,
            Trendler ve Grafikler oluşturulabilir.
          </li>

          <br />
          <li style="padding-right: 10%">
            <svg
              style="color: rgb(1, 90, 90)"
              xmlns="http://www.w3.org/2000/svg"
              width="19"
              height="19"
              fill="currentColor"
              class="bi bi-arrow-right-circle"
              viewBox="0 0 18 18"
            >
              <path
                fill-rule="evenodd"
                d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"
              />
            </svg>
            Tüm tablolar, veriler, analizler, trendler ve grafikleri sağlam
            yapıda yedekleme imkanına sahiptir. MYSQL Database Server, Ftp
            Server, HDC Server, İsteğe Bağlı Server...
          </li>
          <br />
          <li style="padding-right: 10%">
            <svg
              style="color: rgb(1, 90, 90)"
              xmlns="http://www.w3.org/2000/svg"
              width="19"
              height="19"
              fill="currentColor"
              class="bi bi-arrow-right-circle"
              viewBox="0 0 18 18"
            >
              <path
                fill-rule="evenodd"
                d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"
              />
            </svg>
            Mevcut hat üzerinde, hem Flash hem de kendi hafızasında yedeklenir.
          </li>
          <br />
          <li style="padding-right: 10%">
            <svg
              style="color: rgb(1, 90, 90)"
              xmlns="http://www.w3.org/2000/svg"
              width="19"
              height="19"
              fill="currentColor"
              class="bi bi-arrow-right-circle"
              viewBox="0 0 18 18"
            >
              <path
                fill-rule="evenodd"
                d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"
              />
            </svg>
            Tablolar, Trendler, Performans, Üretim ve Duruş ekran görüntüleri.
          </li>
          <br />
          <li style="padding-right: 10%">
            <svg
              style="color: rgb(1, 90, 90)"
              xmlns="http://www.w3.org/2000/svg"
              width="19"
              height="19"
              fill="currentColor"
              class="bi bi-arrow-right-circle"
              viewBox="0 0 18 18"
            >
              <path
                fill-rule="evenodd"
                d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"
              />
            </svg>
            Kayıtları tarayıcı üzerinden görüntüleme ve excel çıktı görüntüleri.
          </li>
          <br /></ul
      ></span>
    </h5>
  </div>
  <div class="col-md-5 order-md-1">
    <h4 style="color: black">=> Raporlama Desteği</h4>
    <br />
    <img
      class="featurette-image img-fluid mx-auto"
      src="https://images.pexels.com/photos/106344/pexels-photo-106344.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
      data-src="holder.js/500x500/auto"
      alt="Generic placeholder image"
      loading="lazy"
    />
  </div>
</div>
<hr class="featurette-divider" />
<div class="row featurette" style="padding-left: 15%">
  <div class="col-md-7 order-md-2">
    <h5>
      <br />
      <br />
      <span class="text-muted"
        ><ul style="list-style-type: none">
          <li style="padding-right: 10%">
            <svg
              style="color: rgb(1, 90, 90)"
              xmlns="http://www.w3.org/2000/svg"
              width="19"
              height="19"
              fill="currentColor"
              class="bi bi-arrow-right-circle"
              viewBox="0 0 18 18"
            >
              <path
                fill-rule="evenodd"
                d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"
              />
            </svg>
            Tüm makinelerden üretim ile alakalı bilgiler Online olarak
            izlenebilir ve müdahale edilebilir.
          </li>

          <br />
          <li style="padding-right: 10%">
            <svg
              style="color: rgb(1, 90, 90)"
              xmlns="http://www.w3.org/2000/svg"
              width="19"
              height="19"
              fill="currentColor"
              class="bi bi-arrow-right-circle"
              viewBox="0 0 18 18"
            >
              <path
                fill-rule="evenodd"
                d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"
              />
            </svg>
            iOS ve Android cihazlardan, Windows tabanlı masaüstü ve dizüstü
            bilgisayarlardan, içeriden yada fabrika dışından bağlanılabilir.
          </li>
          <br />
          <li style="padding-right: 10%">
            <svg
              style="color: rgb(1, 90, 90)"
              xmlns="http://www.w3.org/2000/svg"
              width="19"
              height="19"
              fill="currentColor"
              class="bi bi-arrow-right-circle"
              viewBox="0 0 18 18"
            >
              <path
                fill-rule="evenodd"
                d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"
              />
            </svg>
            Gelişmiş ve güvenlik düzeyi üst seviyede olan ve belirtilen
            kullanıcılar dışında bağlantıya izin vermeyen, yüksek güvenlikli bir
            yapıya sahiptir.
          </li>
          <br /></ul
      ></span>
    </h5>
  </div>
  <div class="col-md-5 order-md-1">
    <h4 style="color: black">=> Online Takip Sistemi</h4>
    <br />
    <img
      class="featurette-image img-fluid mx-auto"
      src="https://images.pexels.com/photos/207582/pexels-photo-207582.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
      data-src="holder.js/500x500/auto"
      alt="Generic placeholder image"
      loading="lazy"
    />
  </div>
</div>
<hr class="featurette-divider" />
<div class="row featurette" style="padding-left: 15%">
  <div class="col-md-7 order-md-2">
    <h5>
      <br />
      <br />
      <span class="text-muted"
        ><ul style="list-style-type: none">
          <li style="padding-right: 10%">
            <svg
              style="color: rgb(1, 90, 90)"
              xmlns="http://www.w3.org/2000/svg"
              width="19"
              height="19"
              fill="currentColor"
              class="bi bi-arrow-right-circle"
              viewBox="0 0 18 18"
            >
              <path
                fill-rule="evenodd"
                d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"
              />
            </svg>
            Üretim hattındaki ekipmanlara bildirim veya mesaj gönderilebilir.
          </li>

          <br />
          <li style="padding-right: 10%">
            <svg
              style="color: rgb(1, 90, 90)"
              xmlns="http://www.w3.org/2000/svg"
              width="19"
              height="19"
              fill="currentColor"
              class="bi bi-arrow-right-circle"
              viewBox="0 0 18 18"
            >
              <path
                fill-rule="evenodd"
                d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"
              />
            </svg>
            Online olarak yazışma (Chat) imkanına sahiptir.
          </li>
          <br />
          <li style="padding-right: 10%">
            <svg
              style="color: rgb(1, 90, 90)"
              xmlns="http://www.w3.org/2000/svg"
              width="19"
              height="19"
              fill="currentColor"
              class="bi bi-arrow-right-circle"
              viewBox="0 0 18 18"
            >
              <path
                fill-rule="evenodd"
                d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"
              />
            </svg>
            Gsm modül sayesinde SMS olarak istenilen bilgiler alınabilir veya
            gönderilebilir.
          </li>
          <br />
          <li style="padding-right: 10%">
            <svg
              style="color: rgb(1, 90, 90)"
              xmlns="http://www.w3.org/2000/svg"
              width="19"
              height="19"
              fill="currentColor"
              class="bi bi-arrow-right-circle"
              viewBox="0 0 18 18"
            >
              <path
                fill-rule="evenodd"
                d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"
              />
            </svg>
            Mail yolu ile veriler aktarılabilir.
          </li>
          <br /></ul
      ></span>
    </h5>
  </div>
  <div class="col-md-5 order-md-1">
    <h4 style="color: black">=> Online İletişim</h4>
    <br />
    <img
      class="featurette-image img-fluid mx-auto"
      src="https://images.pexels.com/photos/920382/pexels-photo-920382.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
      data-src="holder.js/500x500/auto"
      alt="Generic placeholder image"
      loading="lazy"
    />
  </div>
</div>
<br />
<p class="lead" style="padding-left: 15%; padding-right: 15%">
  Dördüncü endüstri devrimi, kısaca 'Endüstri 4.0' olarak tanımlanan bu dönemde
  server sistemlerimizle endüstri çağının takibindeyiz. Sorunlarınızı,
  iyileştirmelerinizi tek bir paket de topladık. Server Otomasyon Sistemleri ile tüm yapınızı
  akıllı telefonlardan (iOS/Andorid), tabletlerden veya dizüstü
  bilgisayarlarınızından kontrol edin! Üretim zamanları, üretim adetleri,
  performans bilgileri gibi değerleri anlık olarak alın! Aldığınız raporlar
  doğrultusunda sipariş talebinizi üretiminizi şekillendirin. Server Otomasyon 
  sistemlerimize tahminlerinizin de altındaki fiyatlarla sahip olabilirsiniz, bizi
  mutlaka arayın..
</p>

<img
  src="data:image/svg+xml;base64,PHN2ZyBpZD0iQ2FwYV8xIiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCA1MTIuNjQzIDUxMi42NDMiIGhlaWdodD0iNTEyIiB2aWV3Qm94PSIwIDAgNTEyLjY0MyA1MTIuNjQzIiB3aWR0aD0iNTEyIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxnIGlkPSJUb3AiPjxnIGlkPSJvdWJsZV9DbGlja18xXyI+PGc+PGc+PHBhdGggZD0ibTQwOS4yNjkgMzgxLjg1NC0xNTEuNTYxLTk0LjYxMy0xNTEuNTYxIDk0LjYxMyAxNTEuNTYxLTM4MS44NTR6bS0xNTEuNTYxLTEyOS45NzggODkuOTkyIDU2LjE3OC04OS45OTItMjI2LjczNC04OS45OTIgMjI2LjczNHoiLz48L2c+PC9nPjwvZz48Zz48Zz48cGF0aCBkPSJtMjU2LjMyMiA1MTIuNjQzYy0xMjQuMDY1IDAtMjI1LTEwMC45MzUtMjI1LTIyNSAwLTg4LjQzMSA1MS43NDItMTY3LjYwMiAxMzAuNTExLTIwNC4xODdsMTIuNjM4IDI3LjIwOGMtNjguNzM2IDMxLjkyNi0xMTMuMTQ5IDEwMS4zOTQtMTEzLjE0OSAxNzYuOTc5IDAgMTA3LjUyMyA4Ny40NzcgMTk1IDE5NSAxOTVzMTk1LTg3LjQ3NyAxOTUtMTk1YzAtNzQuMDc2LTQzLjE2NC0xNDIuOTUtMTA5Ljk2NC0xNzUuNDY0bDEzLjEzLTI2Ljk3NWM3NS4wMjQgMzYuNTE4IDEyNi44MzQgMTEzLjU0MiAxMjYuODM0IDIwMi40MzkgMCAxMjQuMDY1LTEwMC45MzUgMjI1LTIyNSAyMjV6Ii8+PC9nPjwvZz48L2c+PC9zdmc+"
  id="button"
/>