

<div style="background-color: rgba(183, 199, 228, 0.242);" class="card">
  <br><br>
  <h3 class="link" target="_blank">HAKKIMIZDA</h3>
  <div class="row">


    <div class="col-md-6">

<div class="movie_card" id="bright">
  <div class="info_section">
    <div class="movie_header">
    
      <h1>Vizyonumuz</h1>

    
    </div>
    <div class="movie_desc">
      <p class="text">
        Set in a world where fantasy creatures live side by side with humans. A human cop is forced to work with an Orc to find a weapon everyone is prepared to kill for. 
      </p>
    </div>
    <div class="movie_social">
      <ul>
     
        <li><i class="material-icons">Daha Fazla Bİlgi</i></li>
      </ul>
    </div>
  </div>
  <div class="blur_back bright_back"></div>
</div>
</div>




<div class="col-md-6">
 
  <div class="movie_card" id="bright">
    <div class="info_section">
      <div class="movie_header">
      
        <h1>Misyonumuz</h1>
  
      
      </div>
      <div class="movie_desc">
        <p class="text">
          Set in a world where fantasy creatures live side by side with humans. A human cop is forced to work with an Orc to find a weapon everyone is prepared to kill for. 
        </p>
      </div>
      <div class="movie_social">
        <ul>
       
          <li><i class="material-icons">Daha Fazla Bİlgi</i></li>
        </ul>
      </div>
    </div>
    <div class="blur_back tomb_back"></div>
  </div>
  </div>

</div>

</div>