

<html >
  <div class="row">
 
     <div class="col-md-1">
 
 <br><br> <br><br><br><br>
 
 
 
     </div>
     <div class="col-md-10">
 
 
 
   <body class="" style="margin-top: 60px">
     <div class="container">
       <div class="row ">
     
         <div
           style="
            background-color: rgba(183, 199, 228, 0.242);
           "
           class="card"
         >
         
           <br />
           <div class="row">
 
 
    
           <div class="col-md-4">
       <div class="col-md-12">
             <div class="card card3">
               <a href="#" class="">
                 <span
                   class="card-icon-top vfi vfi-telephone"
                   aria-hidden="true"
                 ></span>
                 <div class="card-body">
                   <span class="card-title">Bize Ulaşın</span>
                   <p class="card-text">
                     Some quick example text to build on the card title and make
                     up the bulk of the card's content.
                   </p>
                 </div>
               </a>
             </div>
             
           </div>
         </div>
 
         <div class="col-md-4">
             <div class="col-md-12">
                   <div class="card card3">
                     <a href="#" class="">
                       <span
                         class="card-icon-top vfi vfi-ordinateur"
                         aria-hidden="true"
                       ></span>
                       <div class="card-body">
                         <span class="card-title">Projelerimiz</span>
                         <p class="card-text">
                           Some quick example text to build on the card title and make
                           up the bulk of the card's content.
                         </p>
                       </div>
                     </a>
                   </div>
                   
                 </div>
               </div>
       
       
               <div class="col-md-4">
                 <div class="col-md-12">
                       <div class="card card3">
                         <a href="#" class="">
                           <span
                             class="card-icon-top vfi vfi-question"
                             aria-hidden="true"
                           ></span>
                           <div class="card-body">
                             <span class="card-title">Hakkımızda</span>
                             <p class="card-text">
                               Some quick example text to build on the card title and make
                               up the bulk of the card's content.
                             </p>
                           </div>
                         </a>
                       </div>
                       
                     </div>
                   </div>
           
                   <div class="col-md-4">
                     <div class="col-md-12">
                           <div class="card card3">
                             <a href="#" class="">
                               <span
                                 class="card-icon-top vfi vfi-porte-document"
                                 aria-hidden="true"
                               ></span>
                               <div class="card-body">
                                 <span class="card-title">Referanslarımız</span>
                                 <p class="card-text">
                                   Some quick example text to build on the card title and make
                                   up the bulk of the card's content.
                                 </p>
                               </div>
                             </a>
                           </div>
                           
                         </div>
                       </div>
               
               
     
     
                       <div class="col-md-4">
                         <div class="col-md-12">
                               <div class="card card3">
                                 <a href="#" class="">
                                   <span
                                     class="card-icon-top vfi vfi-localisation"
                                     aria-hidden="true"
                                   ></span>
                                   <div class="card-body">
                                     <span class="card-title">Konumumuz</span>
                                     <p class="card-text">
                                       Some quick example text to build on the card title and make
                                       up the bulk of the card's content.
                                     </p>
                                   </div>
                                 </a>
                               </div>
                               
                             </div>
                           </div>
                   
                   
         
         
 
 
                           <div class="col-md-4">
                             <div class="col-md-12">
                                   <div class="card card3">
                                     <a href="#" class="">
                                       <span
                                         class="card-icon-top vfi vfi-porte-voix"
                                         aria-hidden="true"
                                       ></span>
                                       <div class="card-body">
                                         <span class="card-title">Duyurular</span>
                                         <p class="card-text">
                                           Some quick example text to build on the card title and make
                                           up the bulk of the card's content.
                                         </p>
                                       </div>
                                     </a>
                                   </div>
                                   
                                 </div>
                               </div>
                       
                       
             
             
 
                   
 
         </div>
           
         </div>
         
       </div>
       
     </div>
   </body>
 </div>
 
 </div>    
 </html>