<br>
        <div class="link">
          <strong> <h3>REFERANSLARIMIZ</h3></strong> 
        </div>


<div class="container">
    <div class="owl-carousel">

        <div class="card">
            <figure class="card__thumb">
                <img src="https://images.pexels.com/photos/5532839/pexels-photo-5532839.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="Picture by Nathan Dumlao" class="card__image">
                <figcaption class="card__caption">
                    <h2 class="card__title">This Is Your Body And Brain On Coffee</h2>
                    <p class="card__snippet">Drinking more caffeine during the coronavirus lockdown? Here's how it can affect you over time and advice on making it better for you.</p>
                    <a href="" class="card__button">Daha Fazla Bİlgi</a>
                </figcaption>
            </figure>
        </div>


      <div class="card">
		<figure class="card__thumb">
			<img src="https://images.pexels.com/photos/4542839/pexels-photo-4542839.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="Picture by Nathan Dumlao" class="card__image">
			<figcaption class="card__caption">
				<h2 class="card__title">This Is Your Body And Brain On Coffee</h2>
				<p class="card__snippet">Drinking more caffeine during the coronavirus lockdown? Here's how it can affect you over time and advice on making it better for you.</p>
				<a href="" class="card__button">Daha Fazla Bİlgi</a>
			</figcaption>
		</figure>
	</div>



      <div class="card">
		<figure class="card__thumb">
			<img src="https://images.pexels.com/photos/4542836/pexels-photo-4542836.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="Picture by Nathan Dumlao" class="card__image">
			<figcaption class="card__caption">
				<h2 class="card__title">This Is Your Body And Brain On Coffee</h2>
				<p class="card__snippet">Drinking more caffeine during the coronavirus lockdown? Here's how it can affect you over time and advice on making it better for you.</p>
				<a href="" class="card__button">Daha Fazla Bİlgi</a>
			</figcaption>
		</figure>
	</div>

    

      <div class="card">
		<figure class="card__thumb">
			<img src="https://images.pexels.com/photos/5532835/pexels-photo-5532835.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="Picture by Nathan Dumlao" class="card__image">
			<figcaption class="card__caption">
				<h2 class="card__title">This Is Your Body And Brain On Coffee</h2>
				<p class="card__snippet">Drinking more caffeine during the coronavirus lockdown? Here's how it can affect you over time and advice on making it better for you.</p>
				<a href="" class="card__button">Daha Fazla Bİlgi</a>
			</figcaption>
		</figure>
	</div>
	

      <div class="card">
		<figure class="card__thumb">
			<img src="https://images.pexels.com/photos/5054540/pexels-photo-5054540.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="Picture by Nathan Dumlao" class="card__image">
			<figcaption class="card__caption">
				<h2 class="card__title">This Is Your Body And Brain On Coffee</h2>
				<p class="card__snippet">Drinking more caffeine during the coronavirus lockdown? Here's how it can affect you over time and advice on making it better for you.</p>
				<a href="" class="card__button">Daha Fazla Bİlgi</a>
			</figcaption>
		</figure>
	</div>

    
      <div class="card">
		<figure class="card__thumb">
			<img src="https://source.unsplash.com/71u2fOofI-U/300x510" alt="Picture by Nathan Dumlao" class="card__image">
			<figcaption class="card__caption">
				<h2 class="card__title">This Is Your Body And Brain On Coffee</h2>
				<p class="card__snippet">Drinking more caffeine during the coronavirus lockdown? Here's how it can affect you over time and advice on making it better for you.</p>
				<a href="" class="card__button">Daha Fazla Bİlgi</a>
			</figcaption>
		</figure>
		
	</div>
	
    
    </div>
  </div>