<div class="header">
  <div class="header__bg"></div>

  <h1 class="header__title">Eklemeli İmalat Teknolojisi</h1>
</div>

<div class="about">
  <div class="about__title">
    <h2 class="about__title--text">Eklemeli İmalat Nedir?</h2>
  </div>
  <div class="about__text">
    <p class="about__text--content" style="font-size: xx-large">
      Additive Manufacturings™ olarak, üretim standartlarını yeniden tanımlayan
      yüksek performanslı özel son kullanıcı parçaları sağlayarak işletmelerin
      ve üreticilerin üretim sürecini basitleştirmelerine yardımcı oluyoruz.
      Katmanlı İmalatlar, savunma, havacılık, tıp, otomotiv ve diğer üretim
      sektörleri dahil olmak üzere, DSLM katmanlı imalat ve son işleme
      yöntemlerini kullanarak çözüm ortaklıkları sağlamak amacıyla 2021 yılında
      kurulmuştur.
    </p>
  </div>
</div>
<!--scroll up button-->

<img
  src="data:image/svg+xml;base64,PHN2ZyBpZD0iQ2FwYV8xIiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCA1MTIuNjQzIDUxMi42NDMiIGhlaWdodD0iNTEyIiB2aWV3Qm94PSIwIDAgNTEyLjY0MyA1MTIuNjQzIiB3aWR0aD0iNTEyIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxnIGlkPSJUb3AiPjxnIGlkPSJvdWJsZV9DbGlja18xXyI+PGc+PGc+PHBhdGggZD0ibTQwOS4yNjkgMzgxLjg1NC0xNTEuNTYxLTk0LjYxMy0xNTEuNTYxIDk0LjYxMyAxNTEuNTYxLTM4MS44NTR6bS0xNTEuNTYxLTEyOS45NzggODkuOTkyIDU2LjE3OC04OS45OTItMjI2LjczNC04OS45OTIgMjI2LjczNHoiLz48L2c+PC9nPjwvZz48Zz48Zz48cGF0aCBkPSJtMjU2LjMyMiA1MTIuNjQzYy0xMjQuMDY1IDAtMjI1LTEwMC45MzUtMjI1LTIyNSAwLTg4LjQzMSA1MS43NDItMTY3LjYwMiAxMzAuNTExLTIwNC4xODdsMTIuNjM4IDI3LjIwOGMtNjguNzM2IDMxLjkyNi0xMTMuMTQ5IDEwMS4zOTQtMTEzLjE0OSAxNzYuOTc5IDAgMTA3LjUyMyA4Ny40NzcgMTk1IDE5NSAxOTVzMTk1LTg3LjQ3NyAxOTUtMTk1YzAtNzQuMDc2LTQzLjE2NC0xNDIuOTUtMTA5Ljk2NC0xNzUuNDY0bDEzLjEzLTI2Ljk3NWM3NS4wMjQgMzYuNTE4IDEyNi44MzQgMTEzLjU0MiAxMjYuODM0IDIwMi40MzkgMCAxMjQuMDY1LTEwMC45MzUgMjI1LTIyNSAyMjV6Ii8+PC9nPjwvZz48L2c+PC9zdmc+"
  id="button"
/>
<br />
<div style="color: black">
  <div style="text-align: center">
    <h2>Eklemeli İmalatlar™ nasıl çalışır?</h2>
  </div>
</div>
<br />
<br /><br />
<main role="main">
  <!-- Marketing messaging and featurettes
        ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->

  <div class="container marketing" style="margin: auto">
    <!-- Three columns of text below the carousel -->
    <div class="row">
      <div class="col-lg-3">
        <img
          class="rounded-circle"
          src="https://images.squarespace-cdn.com/content/v1/60193ddeaa29684a6d4b2c78/1615937027808-6R5EW0F368KKRDQOU9RL/1_1.png%22%20alt=%221_1.png"
          alt="Generic placeholder image"
          width="300"
          height="300"
        />
        <h4 style="text-align: center">
          Yönergelerimizi okuyun ve teklif formumuzu doldurun.
        </h4>
      </div>
      <!-- /.col-lg-4 -->
      <div class="col-lg-3">
        <img
          class="rounded-circle"
          src="https://images.squarespace-cdn.com/content/v1/60193ddeaa29684a6d4b2c78/1615930752854-TE4FXJ7AV948BZO5HND4/2.png"
          alt="Generic placeholder image"
          width="300"
          height="300"
        />
        <h4 style="text-align: center">
          Teklif için parçalarınızı bize gönderin.
        </h4>
      </div>
      <!-- /.col-lg-4 -->
      <div class="col-lg-3">
        <img
          class="rounded-circle"
          src="https://images.squarespace-cdn.com/content/v1/60193ddeaa29684a6d4b2c78/1615930773598-0FBXQ00A2OWDGKUNTAC1/3.png"
          alt="Generic placeholder image"
          width="300"
          height="300"
        />
        <h4 style="text-align: center">
          Onayınızdan sonra üretime başlıyoruz.
        </h4>
      </div>
      <!-- /.col-lg-4 -->

      <!-- /.col-lg-4 -->
      <div class="col-lg-3">
        <img
          class="rounded-circle"
          src="https://images.squarespace-cdn.com/content/v1/60193ddeaa29684a6d4b2c78/1616149677109-V5RG6UGPIAHPGVHX7F0A/4%2B2.png"
          alt="Generic placeholder image"
          width="300"
          height="300"
        />
        <h4 style="text-align: center">Kalite Kontrol ve Teslimat.</h4>
      </div>

      <!-- /.col-lg-4 -->
    </div>
  </div>
</main>
<br /><br /><br />

<div style="color: black">
  <div style="text-align: center">
    <h1>Sıkça Sorulan Sorular</h1>
  </div>
</div>
<br />
<br /><br />
<main role="main">
  <!-- Marketing messaging and featurettes
      ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->

  <div class="container marketing" style="margin: auto">
    <!-- Three columns of text below the carousel -->
    <div class="row">
      <div class="col-lg-4">
        <img
          class="rounded-circle"
          src="https://st4.depositphotos.com/18674256/20994/v/450/depositphotos_209946800-stock-illustration-question-icon-vector-isolated-white.jpg"
          alt="Generic placeholder image"
          width="250"
          height="250"
        />
        <h4>Hızlandırılmış projeler için minimum teslim süresi nedir?</h4>
        <br>
        <p>
          Bu, her projeye göre değişir, ancak teslim sürelerimizin çoğunun
          yaklaşık 10 gün olduğunu varsayıyoruz.
        </p>
      </div>
      <!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img
          class="rounded-circle"
          src="https://st4.depositphotos.com/18674256/20994/v/450/depositphotos_209946800-stock-illustration-question-icon-vector-isolated-white.jpg"
          alt="Generic placeholder image"
          width="250"
          height="250"
        />
        <h4>Eklemeli İmalatlar teknolojisi nasıl çalışır?</h4>
        <br>
        <p>
          Katmanlı İmalatlar, yüksek teknoloji fabrikalarıyla uzun vadeli
          kiralama sözleşmelerine sahiptir. Eklemeli İmalat mühendisleri,
          prosedürler ve imalatlar üzerinde tam kontrole sahiptir.
        </p>
      </div>
      <!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img
          class="rounded-circle"
          src="https://st4.depositphotos.com/18674256/20994/v/450/depositphotos_209946800-stock-illustration-question-icon-vector-isolated-white.jpg"
          alt="Generic placeholder image"
          width="250"
          height="250"
        />
        <h4>
          Additive Manufactings, bir siparişin kalitesini ve teslim süresini
          nasıl garanti eder?
        </h4>
        <br>
        <p>
          Additive Manufactings, her proje için bir proje yöneticisi ve bir
          kalite uzmanı görevlendirir.
        </p>
      </div>
      <!-- /.col-lg-4 -->

      <!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img
          class="rounded-circle"
          src="https://st4.depositphotos.com/18674256/20994/v/450/depositphotos_209946800-stock-illustration-question-icon-vector-isolated-white.jpg"
          alt="Generic placeholder image"
          width="250"
          height="250"
        />
        <h4>Additive Manufactings'in tasarım hizmetleri var mı?</h4>
        <br>
        <p>Evet, müşterilerimize tasarım hizmetleri de sunabiliriz.</p>
      </div>
      <!-- /.col-lg-4 -->

      <!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img
          class="rounded-circle"
          src="https://st4.depositphotos.com/18674256/20994/v/450/depositphotos_209946800-stock-illustration-question-icon-vector-isolated-white.jpg"
          alt="Generic placeholder image"
          width="250"
          height="250"
        />
        <h4>Katkı İmalatlarında MOQ (Minimum sipariş miktarı) var mı?</h4>
        <br>
        <p>Hayır. Miktar konusunda esnekiz.</p>
      </div>
      <!-- /.col-lg-4 -->

      <!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img
          class="rounded-circle"
          src="https://st4.depositphotos.com/18674256/20994/v/450/depositphotos_209946800-stock-illustration-question-icon-vector-isolated-white.jpg"
          alt="Generic placeholder image"
          width="250"
          height="250"
          loading="lazy"
        />
        <h4>Müşteri her proje için ITP (Muayene ve Test Planı) sağlıyor mu?</h4>
        <br>
        <p>
          Mühendisler, projeye dayalı bir ITP taslağı hazırlaması için
          müşterimizi destekleyebilir. Ancak nihai ITP müşteri tarafından
          onaylanmalıdır.
        </p>
      </div>
      <!-- /.col-lg-4 -->
    </div>
    <!-- /.row -->
  </div>
</main>


