<div class="header">
  <div class="header__bg"></div>

  <h1 class="header__title">Özel Yazılım Hizmetlerimiz</h1>
</div>

<div class="about">
  <div class="about__title">
    <h2 class="about__title--text">Özel Yazılım Nedir?</h2>
  </div>
  <div class="about__text">
    <p class="about__text--content">
      Paket Programlar ile istediği proje yönetimini sağlayaman firmalar için
      özel olarak terzi dikimi yazılımlar geliştiriyoruz. Geliştirdiğimiz süreç
      yazılımları, müşteri yönetim yazılımları ve Özel ERP yazılımları ile
      fırmanıza ait tüm işleri tek bir yazılım ile kontrol altına alabilirsiniz.
      Özel yazılım geliştirme sürecinde, proje yönetim yazılımı ile tüm akışı
      takip edebilirsiniz. Firmanızın ihtiyaç duyduğu özel yazılımlar ile
      işlerinizi kolaylaştırıyor, tüm süreçleri raporlu ve tam zamanında teslim
      ediyoruz.
    </p>
  </div>
</div>
<div style="text-align: center">
  <img
    src="https://images.pexels.com/photos/60504/security-protection-anti-virus-software-60504.jpeg?cs=srgb&dl=pexels-pixabay-60504.jpg&fm=jpg"
    alt=""
    width="70%"
    height="400px"
  />
</div>

<div class="container py-5 mx-auto">
  <!-- For demo purpose -->
  <div class="row text-center">
    <div class="col-lg-8 mx-auto">
      <h1 class="display-4">Nasıl Yaparız?</h1>
    </div>
  </div>
  <!-- End -->

  <div class="row">
    <div class="col-lg-7 mx-auto">
      <!-- Timeline -->
      <ul class="timeline">
        <li class="timeline-item bg-white rounded ml-3 p-4 shadow">
          <div class="timeline-arrow"></div>
          <h2 class="h5 mb-0">İhtiyaç Analizi</h2>

          <p class="text-small mt-2 font-weight-light">
            Tanıtım görüşmesi veya toplantı sırasında ilk gereksinimleri
            topluyoruz. Proje, uygulanması için yaklaşık bütçe ve zaman
            aralığını netleştirmek için bir boyut değerlendirmesi alır.
          </p>
        </li>
        <li class="timeline-item bg-white rounded ml-3 p-4 shadow">
          <div class="timeline-arrow"></div>
          <h2 class="h5 mb-0">Strateji ve Konsept Atölyesi</h2>

          <p class="text-small mt-2 font-weight-light">
            Konu uzmanlarından oluşan bir ekip, iş analistleri, teknoloji ve
            ürün liderleriyle birlikte, mevcut ve istenen iş süreçlerini
            tanımlarız, iş gereksinimlerini işlevsel gereksinimlere dönüştürür,
            riskleri ve kısıtlamaları belirler, kullanılacak mimari ve teknoloji
            yığınının ilk vizyonunu yaratırız.
          </p>
        </li>
        <li class="timeline-item bg-white rounded ml-3 p-4 shadow">
          <div class="timeline-arrow"></div>
          <h2 class="h5 mb-0">Tasarım ve Geliştirme</h2>

          <p class="text-small mt-2 font-weight-light">
            Strateji ve Konsept Atölyesi Tasarım geliştirme Başlatmak Destek ve
            Daha Fazla Büyüme Proje uygulama için onaylandıktan sonra, bir ürün
            mühendisliği ekibi toplar, özel bir proje yöneticisi ve iş analisti
            atarız. Yinelemeli gelişim ve proje ekibi ile müşteri arasındaki
            yakın iletişim için çevik metodolojiler kullanıyoruz.
          </p>
        </li>
        <li class="timeline-item bg-white rounded ml-3 p-4 shadow">
          <div class="timeline-arrow"></div>
          <h2 class="h5 mb-0">Başlatmak</h2>

          <p class="text-small mt-2 font-weight-light">
            Ürün üretim sürümüne hazır olduğunda, lansmanı pazarlama, satış,
            satış ekibi ve müşteri destek ekipleriyle senkronize olarak
            planlıyoruz. Ayrıca sistem sağlık kontrolleri kurduk ve sistemin
            sorunsuz çalışmasını sağlamak için destek ve bakım süreçlerini
            tanımladık.
          </p>
        </li>
        <li class="timeline-item bg-white rounded ml-3 p-4 shadow">
          <div class="timeline-arrow"></div>
          <h2 class="h5 mb-0">Destek ve Yeni Geliştirmeler</h2>

          <p class="text-small mt-2 font-weight-light">
            Her şey başarılı lansmanla başlar. Destek ve bakım hizmetleri ile
            ürününüzü daha da büyütmenize ve büyütmenize yardımcı olan özel ve
            genişletilmiş ekipler sunuyoruz.
          </p>
        </li>
      </ul>
      <!-- End -->
    </div>
  </div>
</div>

<!--three part started-->

<div class="container py-5 mx-auto">
  <!-- For demo purpose -->
  <div class="row text-center">
    <div class="col-lg-8 mx-auto">
      <h1 class="display-4">Neden Biz?</h1>
    </div>
  </div>
  <!-- End -->

  <div class="row">
    <div class="col-lg-7 mx-auto">
      <!-- Timeline -->
      <ul class="timeline">
        <li class="timeline-item bg-white rounded ml-3 p-4 shadow">
          <div class="timeline-arrow"></div>
          <h2 class="h5 mb-0">Konusunda Uzman</h2>

          <p class="text-small mt-2 font-weight-light">
            Ekol Bilişim teknolojileri, 10 yılı aşkın bir süredir özel yazılım
            çözümleri üretmektedir. Fintech’ten sağlık hizmetlerine, lojistikten
            eğlenceye, yazılımla ilgili tüm sorunlarınız çözmenize yardımcı
            olacak uzamanlığa sahibiz.
          </p>
        </li>
        <li class="timeline-item bg-white rounded ml-3 p-4 shadow">
          <div class="timeline-arrow"></div>
          <h2 class="h5 mb-0">Hızlı ve Güvenilir Çözümler</h2>

          <p class="text-small mt-2 font-weight-light">
            Bizim için zamanlama çok önemlidir. İşlerimizi en hızlı şekilde
            bitirir, taahhüt ettiğimiz sürelere uyarız. İşlerimizi hızlı
            yaparken kalitemizden de asla ödün vermeyiz.
          </p>
        </li>
        <li class="timeline-item bg-white rounded ml-3 p-4 shadow">
          <div class="timeline-arrow"></div>
          <h2 class="h5 mb-0">Mutlu Müşteriler</h2>

          <p class="text-small mt-2 font-weight-light">
            Müşterilerimizin memnuniyeti bizim için her şeyden önce gelir.
            Onların sorunu bizim sorunumuzdur. Gerektiğinde 7/24 müşterilerimiz
            bize ulaşabilirler. Güçlü referans listemiz bu çalışmaların bir
            karşılığıdır.
          </p>
        </li>
        <li class="timeline-item bg-white rounded ml-3 p-4 shadow">
          <div class="timeline-arrow"></div>
          <h2 class="h5 mb-0">Bitirilmiş İşler</h2>

          <p class="text-small mt-2 font-weight-light">
            Yıllardan beri kullanılan birçok projemiz mevcut. Firmaların
            sorunlarını çözdük, büyük işler başardık.
          </p>
        </li>
        <li class="timeline-item bg-white rounded ml-3 p-4 shadow">
          <div class="timeline-arrow"></div>
          <h2 class="h5 mb-0">Yenilikçi</h2>

          <p class="text-small mt-2 font-weight-light">
            Dünya trendlerini takip eder, hızlı bir şekilde adaptasyon sağlarız.
            Yoğun arge çalışmaları sonucunda elde ettiğimiz kazanımları
            müşterilerimizle de paylaşır, onların da hep güncel kalmalarını
            sağlarız.
          </p>
        </li>
      </ul>
      <!-- End -->
    </div>
  </div>
</div>

<img
  src="data:image/svg+xml;base64,PHN2ZyBpZD0iQ2FwYV8xIiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCA1MTIuNjQzIDUxMi42NDMiIGhlaWdodD0iNTEyIiB2aWV3Qm94PSIwIDAgNTEyLjY0MyA1MTIuNjQzIiB3aWR0aD0iNTEyIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxnIGlkPSJUb3AiPjxnIGlkPSJvdWJsZV9DbGlja18xXyI+PGc+PGc+PHBhdGggZD0ibTQwOS4yNjkgMzgxLjg1NC0xNTEuNTYxLTk0LjYxMy0xNTEuNTYxIDk0LjYxMyAxNTEuNTYxLTM4MS44NTR6bS0xNTEuNTYxLTEyOS45NzggODkuOTkyIDU2LjE3OC04OS45OTItMjI2LjczNC04OS45OTIgMjI2LjczNHoiLz48L2c+PC9nPjwvZz48Zz48Zz48cGF0aCBkPSJtMjU2LjMyMiA1MTIuNjQzYy0xMjQuMDY1IDAtMjI1LTEwMC45MzUtMjI1LTIyNSAwLTg4LjQzMSA1MS43NDItMTY3LjYwMiAxMzAuNTExLTIwNC4xODdsMTIuNjM4IDI3LjIwOGMtNjguNzM2IDMxLjkyNi0xMTMuMTQ5IDEwMS4zOTQtMTEzLjE0OSAxNzYuOTc5IDAgMTA3LjUyMyA4Ny40NzcgMTk1IDE5NSAxOTVzMTk1LTg3LjQ3NyAxOTUtMTk1YzAtNzQuMDc2LTQzLjE2NC0xNDIuOTUtMTA5Ljk2NC0xNzUuNDY0bDEzLjEzLTI2Ljk3NWM3NS4wMjQgMzYuNTE4IDEyNi44MzQgMTEzLjU0MiAxMjYuODM0IDIwMi40MzkgMCAxMjQuMDY1LTEwMC45MzUgMjI1LTIyNSAyMjV6Ii8+PC9nPjwvZz48L2c+PC9zdmc+"
  id="button"
/>