body {
    background-color: #D1C4E9;
    overflow-x: hidden
}

.bg-white {
    background-color: #fff
}

.navbar-brand {
    padding: 23.5px 20px;
    font-size: 18px
}

.navbar-nav {
    width: 100%
}

.nav-item {
    padding: 20px 8px;
    margin: 0px 3px;
    text-align: center;
    border-radius: 5px;
    font-size: 16px;
    color: grey;
    position: static
}



.nav-item.active {
    color: #EF5350
}

.nav-item:hover {
    color: #EF5350
}

a {
    color: inherit !important
}

.nav-link {
    padding: 5px
}

.navbar-collapse.collapse.in {
    display: block !important
}

.fa-angle-down {
    padding-left: 10px
}

.fa-icon {
    font-size: 30px;
    color: #fff;
    background-color: rgb(181, 138, 138);
    margin: 2px 10px 5px 0px;
    border-radius: 10px;
    width: 50px;
    height: 50px
}


#dropdown-menu1 {
 
    left: 320px
}



.tab {
    margin-bottom: 200px;
    width: 130px
}



.dropdown-item {
    padding: 20px
}





#logo {
    width: 230px;
    height: 100px;
    border-radius:4px
    
}
















































