<div class="container-fluid px-0">
    <nav class="navbar navbar-expand-md navbar-light bg-white p-0"> <a class="navbar-brand mr-4" href="#"><strong> <img src="assets/images/ekol-image/ekol-icon2.jpg"   class="d-inline-block align-top" type alt="">
        </strong></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            
       
            <ul class="navbar-nav">
                

                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#"> <strong>Home</strong></a>
                  </li>
              
                  
                  
                  <li class="nav-item dropdown">
                    <a  class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                     <strong>Dropdown</strong> 
                    </a>
                    <ul style="background-color:#ffffff;" class="dropdown-menu"  id="dropdown-menu1" aria-labelledby="navbarDropdown1">
                      <li><a  class="dropdown-item" href="#"> Eklemeli imalat Teknolojisi</a></li>
                      <li><a class="dropdown-item" href="#">Kesimhane ve İzlenebilirlik Yönetim ve Otomasyon Sistemi</a></li>
                      <li><a class="dropdown-item" href="#">Özel Yazılım Hizmetleri</a></li>
                      <li><a class="dropdown-item" href="#">Server Sistem Otomasyonları</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="#">Ve Daha Fazlası</a></li>
                    </ul>
                  </li>
                 



               
                
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#"> <strong>Referanslar</strong></a>
                  </li>
                
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#"> <strong>Kurumsal</strong></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="contact"> <strong>İletişim</strong></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#"> <strong>Hakkımızda</strong></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#"> <strong>Duyurular</strong></a>
                  </li>
                         
            </ul>
            
        </div>
        
        <app-social-media2></app-social-media2>
    </nav>
    
    
</div>






















