<div class="header">
  <div class="header__bg"></div>

  <h1 class="header__title">Garson Çağrı Sistemleri</h1>
</div>
<br /><br />
<div class="about">
  <div class="about__title">
    <h2 class="about__title--text">Garson Çağrı Sistemi Ürünlerimiz</h2>
  </div>
</div>

<!--two part started-->

<br />
<br />
<br />
<div class="row featurette" style="padding-left: 15%">
  <div class="col-md-7 order-md-2">
    <h5>
      <br />
      <br />
      <span class="text-muted"
        ><ul style="list-style-type: none">
          <li>
            <svg
              style="color: rgb(111, 1, 255)"
              xmlns="http://www.w3.org/2000/svg"
              width="19"
              height="19"
              fill="currentColor"
              class="bi bi-arrow-right-circle"
              viewBox="0 0 18 18"
            >
              <path
                fill-rule="evenodd"
                d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"
              />
            </svg>
            Kanal: 999 kanal
          </li>

          <br />
          <li>
            <svg
              style="color: rgb(111, 1, 255)"
              xmlns="http://www.w3.org/2000/svg"
              width="19"
              height="19"
              fill="currentColor"
              class="bi bi-arrow-right-circle"
              viewBox="0 0 18 18"
            >
              <path
                fill-rule="evenodd"
                d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"
              />
            </svg>
            Gösterge modu: Titreşim, arı işareti, titreşim + arı işareti
          </li>
          <br />
          <li>
            <svg
              style="color: rgb(111, 1, 255)"
              xmlns="http://www.w3.org/2000/svg"
              width="19"
              height="19"
              fill="currentColor"
              class="bi bi-arrow-right-circle"
              viewBox="0 0 18 18"
            >
              <path
                fill-rule="evenodd"
                d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"
              />
            </svg>
            Çalışma frekansı: 433.92MHz
          </li>
          <br />
          <li>
            <svg
              style="color: rgb(111, 1, 255)"
              xmlns="http://www.w3.org/2000/svg"
              width="19"
              height="19"
              fill="currentColor"
              class="bi bi-arrow-right-circle"
              viewBox="0 0 18 18"
            >
              <path
                fill-rule="evenodd"
                d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"
              />
            </svg>
            Hassasiyet alma: -107dBm
          </li>
          <br />
          <li>
            <svg
              style="color: rgb(111, 1, 255)"
              xmlns="http://www.w3.org/2000/svg"
              width="19"
              height="19"
              fill="currentColor"
              class="bi bi-arrow-right-circle"
              viewBox="0 0 18 18"
            >
              <path
                fill-rule="evenodd"
                d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"
              />
            </svg>
            Şarj gerilimi: DC5V
          </li>
          <br />
          <li>
            <svg
              style="color: rgb(111, 1, 255)"
              xmlns="http://www.w3.org/2000/svg"
              width="19"
              height="19"
              fill="currentColor"
              class="bi bi-arrow-right-circle"
              viewBox="0 0 18 18"
            >
              <path
                fill-rule="evenodd"
                d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"
              />
            </svg>
            Bekleme akımı: 10mA
          </li>
          <br /></ul
      ></span>
    </h5>
  </div>
  <div class="col-md-5 order-md-1">
    <h4 style="color: black">=> Müşteri Çağrı Sistemi</h4>
    <br />
    <img
      class="featurette-image img-fluid mx-auto"
      src="https://www.afandaturkiye.com/upload/product/600x600/masa-1-1558424159-20201023074126.jpg"
      width="350"
      height="350"
      data-src="holder.js/500x500/auto"
      alt="Generic placeholder image"
      loading="lazy"
    />
  </div>
</div>
<br />

<div class="row featurette" style="padding-left: 15%">
  <div class="col-md-7 order-md-2">
    <h5>
      <span class="text-muted"
        ><ul style="list-style-type: none">
          <li>
            <svg
              style="color: rgb(111, 1, 255)"
              xmlns="http://www.w3.org/2000/svg"
              width="19"
              height="19"
              fill="currentColor"
              class="bi bi-arrow-right-circle"
              viewBox="0 0 18 18"
            >
              <path
                fill-rule="evenodd"
                d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"
              />
            </svg>
            Çalışma akımı: 75mA (titreşim)
          </li>

          <br />
          <li>
            <svg
              style="color: rgb(111, 1, 255)"
              xmlns="http://www.w3.org/2000/svg"
              width="19"
              height="19"
              fill="currentColor"
              class="bi bi-arrow-right-circle"
              viewBox="0 0 18 18"
            >
              <path
                fill-rule="evenodd"
                d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"
              />
            </svg>
            Kodlayıcı: Öğrenme kodları (AM)
          </li>
          <br />
          <li>
            <svg
              style="color: rgb(111, 1, 255)"
              xmlns="http://www.w3.org/2000/svg"
              width="19"
              height="19"
              fill="currentColor"
              class="bi bi-arrow-right-circle"
              viewBox="0 0 18 18"
            >
              <path
                fill-rule="evenodd"
                d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"
              />
            </svg>
            Çalışma gerilimi: DC5V / 6A
          </li>
          <br />
          <li>
            <svg
              style="color: rgb(111, 1, 255)"
              xmlns="http://www.w3.org/2000/svg"
              width="19"
              height="19"
              fill="currentColor"
              class="bi bi-arrow-right-circle"
              viewBox="0 0 18 18"
            >
              <path
                fill-rule="evenodd"
                d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"
              />
            </svg>
            Çalışma frekansı: 433.92MHz
          </li>
          <br />
          <li>
            <svg
              style="color: rgb(111, 1, 255)"
              xmlns="http://www.w3.org/2000/svg"
              width="19"
              height="19"
              fill="currentColor"
              class="bi bi-arrow-right-circle"
              viewBox="0 0 18 18"
            >
              <path
                fill-rule="evenodd"
                d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"
              />
            </svg>
            Bekleme akımı: 24mA
          </li>
          <br />
          <li>
            <svg
              style="color: rgb(111, 1, 255)"
              xmlns="http://www.w3.org/2000/svg"
              width="19"
              height="19"
              fill="currentColor"
              class="bi bi-arrow-right-circle"
              viewBox="0 0 18 18"
            >
              <path
                fill-rule="evenodd"
                d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"
              />
            </svg>
            Akım ileten: 100mA
          </li>
        </ul></span
      >
    </h5>
  </div>
  <div class="col-md-5 order-md-1">
    <img
      class="featurette-image img-fluid mx-auto"
      src="https://www.afandaturkiye.com/upload/product/600x600/masa-2-1558424161-20201023074127.jpg"
      data-src="holder.js/500x500/auto"
      width="350"
      height="350"
      alt="Generic placeholder image"
      loading="lazy"
    />
  </div>
</div>
<div class="row featurette" style="padding-left: 15%">
  <div class="col-md-7 order-md-2">
    <h5>
      <span class="text-muted">
        <br />
        <ul style="list-style-type: none">
          <li>
            <svg
              style="color: rgb(111, 1, 255)"
              xmlns="http://www.w3.org/2000/svg"
              width="19"
              height="19"
              fill="currentColor"
              class="bi bi-arrow-right-circle"
              viewBox="0 0 18 18"
            >
              <path
                fill-rule="evenodd"
                d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"
              />
            </svg>
            MAdaptör: AC 100-240V 50 / 60Hz
          </li>

          <br />
          <li>
            <svg
              style="color: rgb(111, 1, 255)"
              xmlns="http://www.w3.org/2000/svg"
              width="19"
              height="19"
              fill="currentColor"
              class="bi bi-arrow-right-circle"
              viewBox="0 0 18 18"
            >
              <path
                fill-rule="evenodd"
                d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"
              />
            </svg>
            Bağlantı mesafesi: 300m
          </li>
          <br />
          <li style="padding-right: 10%">
            <svg
              style="color: rgb(111, 1, 255)"
              xmlns="http://www.w3.org/2000/svg"
              width="19"
              height="19"
              fill="currentColor"
              class="bi bi-arrow-right-circle"
              viewBox="0 0 18 18"
            >
              <path
                fill-rule="evenodd"
                d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"
              />
            </svg>
            Kodlayıcı: Kod öğrenme
          </li>
          <br />
          <li style="padding-right: 10%">
            <svg
              style="color: rgb(111, 1, 255)"
              xmlns="http://www.w3.org/2000/svg"
              width="19"
              height="19"
              fill="currentColor"
              class="bi bi-arrow-right-circle"
              viewBox="0 0 18 18"
            >
              <path
                fill-rule="evenodd"
                d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"
              />
            </svg>
            Fiş: uk fiş
          </li>
          <br />
          <li style="padding-right: 10%">
            <svg
              style="color: rgb(111, 1, 255)"
              xmlns="http://www.w3.org/2000/svg"
              width="19"
              height="19"
              fill="currentColor"
              class="bi bi-arrow-right-circle"
              viewBox="0 0 18 18"
            >
              <path
                fill-rule="evenodd"
                d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"
              />
            </svg>
            Paket ağırlığı: 1976g / 69.7oz
          </li>
          <br />
          <li>
            <svg
              style="color: rgb(111, 1, 255)"
              xmlns="http://www.w3.org/2000/svg"
              width="19"
              height="19"
              fill="currentColor"
              class="bi bi-arrow-right-circle"
              viewBox="0 0 18 18"
            >
              <path
                fill-rule="evenodd"
                d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"
              />
            </svg>
            Paket büyüklüğü: yakl. 31 * 30,7 * 9 cm / 12,2 * 12,1 * 3,5 inç
          </li>
          <br /></ul
      ></span>
    </h5>
  </div>
  <div class="col-md-5 order-md-1">
    <br />
    <img
      class="featurette-image img-fluid mx-auto"
      src="https://www.afandaturkiye.com/upload/product/600x600/masa-4-1558424167-20201023074128.jpg"
      width="350"
      height="350"
      data-src="holder.js/500x500/auto"
      alt="Generic placeholder image"
      loading="lazy"
    />
  </div>
</div>
<br />
<hr class="featurette-divider" />
<br />
<div class="row featurette" style="padding-left: 15%">
  <div class="col-md-7 order-md-2">
    <h5>
      <br />
      <br />
      <span class="text-muted"
        ><ul style="list-style-type: none">
          <li style="padding-right: 10%">
            <svg
              style="color: rgb(111, 1, 255)"
              xmlns="http://www.w3.org/2000/svg"
              width="19"
              height="19"
              fill="currentColor"
              class="bi bi-arrow-right-circle"
              viewBox="0 0 18 18"
            >
              <path
                fill-rule="evenodd"
                d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"
              />
            </svg>
            Eklenen kapatma fonksiyonu: pow off, önyükleme yapmak için iki
            düğmeyi 1 saniye basılı tutun
          </li>

          <br />
          <li>
            <svg
              style="color: rgb(111, 1, 255)"
              xmlns="http://www.w3.org/2000/svg"
              width="19"
              height="19"
              fill="currentColor"
              class="bi bi-arrow-right-circle"
              viewBox="0 0 18 18"
            >
              <path
                fill-rule="evenodd"
                d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"
              />
            </svg>
            Okunmamış yeni mesaj olduğunda, her iki saniyede yeşil ışık yanıp
            söner
          </li>
          <br />
          <li style="padding-right: 10%">
            <svg
              style="color: rgb(111, 1, 255)"
              xmlns="http://www.w3.org/2000/svg"
              width="19"
              height="19"
              fill="currentColor"
              class="bi bi-arrow-right-circle"
              viewBox="0 0 18 18"
            >
              <path
                fill-rule="evenodd"
                d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"
              />
            </svg>
            Pil neredeyse bitince, kırmızı ışık her 4 saniyede bir yanıp söner
            Kolay ve yaygın kullanım
          </li>
          <br />
          <li>
            <svg
              style="color: rgb(111, 1, 255)"
              xmlns="http://www.w3.org/2000/svg"
              width="19"
              height="19"
              fill="currentColor"
              class="bi bi-arrow-right-circle"
              viewBox="0 0 18 18"
            >
              <path
                fill-rule="evenodd"
                d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"
              />
            </svg>
            Taşıması kolay, en son çağrı bilgilerini alabilir ve harekete
            geçebilirsiniz.
          </li>
          <br />
          <li>
            <svg
              style="color: rgb(111, 1, 255)"
              xmlns="http://www.w3.org/2000/svg"
              width="19"
              height="19"
              fill="currentColor"
              class="bi bi-arrow-right-circle"
              viewBox="0 0 18 18"
            >
              <path
                fill-rule="evenodd"
                d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"
              />
            </svg>
            Kolay ve yaygın kullanım
          </li>
          <br />
          <li>
            <svg
              style="color: rgb(111, 1, 255)"
              xmlns="http://www.w3.org/2000/svg"
              width="19"
              height="19"
              fill="currentColor"
              class="bi bi-arrow-right-circle"
              viewBox="0 0 18 18"
            >
              <path
                fill-rule="evenodd"
                d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"
              />
            </svg>
            Alıcı duyarlılığı: -110dbm
          </li>
          <br />
          <li>
            <svg
              style="color: rgb(111, 1, 255)"
              xmlns="http://www.w3.org/2000/svg"
              width="19"
              height="19"
              fill="currentColor"
              class="bi bi-arrow-right-circle"
              viewBox="0 0 18 18"
            >
              <path
                fill-rule="evenodd"
                d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"
              />
            </svg>
            Kodlama: milyon grup kaydı
          </li>
          <br />
          <li>
            <svg
              style="color: rgb(111, 1, 255)"
              xmlns="http://www.w3.org/2000/svg"
              width="19"
              height="19"
              fill="currentColor"
              class="bi bi-arrow-right-circle"
              viewBox="0 0 18 18"
            >
              <path
                fill-rule="evenodd"
                d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"
              />
            </svg>
            Güç: 7 piller 1.5V
          </li>
          <br />
          <li>
            <svg
              style="color: rgb(111, 1, 255)"
              xmlns="http://www.w3.org/2000/svg"
              width="19"
              height="19"
              fill="currentColor"
              class="bi bi-arrow-right-circle"
              viewBox="0 0 18 18"
            >
              <path
                fill-rule="evenodd"
                d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"
              />
            </svg>
            Frekans: 433.92MHz
          </li>
        </ul></span
      >
    </h5>
  </div>
  <div class="col-md-5 order-md-1">
    <h4 style="color: black">=> C2800 Garson Çağrı Sistemi</h4>
    <br />
    <img
      class="featurette-image img-fluid mx-auto"
      src="https://www.afandaturkiye.com/upload/product/600x600/garson-cagri-sistemi-1-1525245020-20201023074233.jpg"
      width="350"
      height="350"
      data-src="holder.js/500x500/auto"
      alt="Generic placeholder image"
      loading="lazy"
    />
  </div>
</div>
<br />

<div class="row featurette" style="padding-left: 15%">
  <div class="col-md-7 order-md-2">
    <h5>
      <span class="text-muted"
        ><ul style="list-style-type: none">
          <li>
            <svg
              style="color: rgb(111, 1, 255)"
              xmlns="http://www.w3.org/2000/svg"
              width="19"
              height="19"
              fill="currentColor"
              class="bi bi-arrow-right-circle"
              viewBox="0 0 18 18"
            >
              <path
                fill-rule="evenodd"
                d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"
              />
            </svg>
            Sistem kapasitesi: 500 adet numaraları kaydedilebilir
          </li>

          <br />
          <li>
            <svg
              style="color: rgb(111, 1, 255)"
              xmlns="http://www.w3.org/2000/svg"
              width="19"
              height="19"
              fill="currentColor"
              class="bi bi-arrow-right-circle"
              viewBox="0 0 18 18"
            >
              <path
                fill-rule="evenodd"
                d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"
              />
            </svg>
            Siyah renk
          </li>
          <br />
          <li>
            <svg
              style="color: rgb(111, 1, 255)"
              xmlns="http://www.w3.org/2000/svg"
              width="19"
              height="19"
              fill="currentColor"
              class="bi bi-arrow-right-circle"
              viewBox="0 0 18 18"
            >
              <path
                fill-rule="evenodd"
                d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"
              />
            </svg>
            Boyut: 17,1 * 10,2 * 3 cm / 6,7 * 4 * 1,2 inç
          </li>
          <br />
          <li>
            <svg
              style="color: rgb(111, 1, 255)"
              xmlns="http://www.w3.org/2000/svg"
              width="19"
              height="19"
              fill="currentColor"
              class="bi bi-arrow-right-circle"
              viewBox="0 0 18 18"
            >
              <path
                fill-rule="evenodd"
                d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"
              />
            </svg>
            Ağırlık: 110g
          </li>
          <br />
          <li>
            <svg
              style="color: rgb(111, 1, 255)"
              xmlns="http://www.w3.org/2000/svg"
              width="19"
              height="19"
              fill="currentColor"
              class="bi bi-arrow-right-circle"
              viewBox="0 0 18 18"
            >
              <path
                fill-rule="evenodd"
                d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"
              />
            </svg>
            Numara tipi: İngilizce, sayılar
          </li>
          <br />
          <li>
            <svg
              style="color: rgb(111, 1, 255)"
              xmlns="http://www.w3.org/2000/svg"
              width="19"
              height="19"
              fill="currentColor"
              class="bi bi-arrow-right-circle"
              viewBox="0 0 18 18"
            >
              <path
                fill-rule="evenodd"
                d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"
              />
            </svg>
            Depolama kapasitesi: maks. 10 adet sayı grubu saklayabilir
          </li>
          <br />
          <li>
            <svg
              style="color: rgb(111, 1, 255)"
              xmlns="http://www.w3.org/2000/svg"
              width="19"
              height="19"
              fill="currentColor"
              class="bi bi-arrow-right-circle"
              viewBox="0 0 18 18"
            >
              <path
                fill-rule="evenodd"
                d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"
              />
            </svg>
            İpucu modu: titreşim (önerilen) veya zil sesleri
          </li>
          <br />
          <li>
            <svg
              style="color: rgb(111, 1, 255)"
              xmlns="http://www.w3.org/2000/svg"
              width="19"
              height="19"
              fill="currentColor"
              class="bi bi-arrow-right-circle"
              viewBox="0 0 18 18"
            >
              <path
                fill-rule="evenodd"
                d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"
              />
            </svg>
            Titreşim süresi: 1-5 saniye
          </li>
          <br />
          <li>
            <svg
              style="color: rgb(111, 1, 255)"
              xmlns="http://www.w3.org/2000/svg"
              width="19"
              height="19"
              fill="currentColor"
              class="bi bi-arrow-right-circle"
              viewBox="0 0 18 18"
            >
              <path
                fill-rule="evenodd"
                d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"
              />
            </svg>
            İletim mesafesi: 500 metre (açık alan)
          </li>
        </ul></span
      >
    </h5>
  </div>
  <div class="col-md-5 order-md-1">
    <img
      class="featurette-image img-fluid mx-auto"
      src="https://www.afandaturkiye.com/upload/product/600x600/garson-cagri-sistemi-3-1525245046-20201023074232.jpg"
      data-src="holder.js/500x500/auto"
      width="350"
      height="350"
      alt="Generic placeholder image"
      loading="lazy"
    />
  </div>
</div>
<div class="row featurette" style="padding-left: 15%">
  <div class="col-md-7 order-md-2">
    <h5>
      <span class="text-muted">
        <br />
        <ul style="list-style-type: none">
          <li>
            <svg
              style="color: rgb(111, 1, 255)"
              xmlns="http://www.w3.org/2000/svg"
              width="19"
              height="19"
              fill="currentColor"
              class="bi bi-arrow-right-circle"
              viewBox="0 0 18 18"
            >
              <path
                fill-rule="evenodd"
                d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"
              />
            </svg>
            Kodlama: milyon grup kaydı
          </li>

          <br />
          <li>
            <svg
              style="color: rgb(111, 1, 255)"
              xmlns="http://www.w3.org/2000/svg"
              width="19"
              height="19"
              fill="currentColor"
              class="bi bi-arrow-right-circle"
              viewBox="0 0 18 18"
            >
              <path
                fill-rule="evenodd"
                d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"
              />
            </svg>
            Beyaz renk
          </li>
          <br />
          <li style="padding-right: 10%">
            <svg
              style="color: rgb(111, 1, 255)"
              xmlns="http://www.w3.org/2000/svg"
              width="19"
              height="19"
              fill="currentColor"
              class="bi bi-arrow-right-circle"
              viewBox="0 0 18 18"
            >
              <path
                fill-rule="evenodd"
                d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"
              />
            </svg>
            Pil: iki adet 2025 düğme pil
          </li>
          <br />
          <li style="padding-right: 10%">
            <svg
              style="color: rgb(111, 1, 255)"
              xmlns="http://www.w3.org/2000/svg"
              width="19"
              height="19"
              fill="currentColor"
              class="bi bi-arrow-right-circle"
              viewBox="0 0 18 18"
            >
              <path
                fill-rule="evenodd"
                d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"
              />
            </svg>
            Frekans: 433.92MHz
          </li>
          <br />
          <li style="padding-right: 10%">
            <svg
              style="color: rgb(111, 1, 255)"
              xmlns="http://www.w3.org/2000/svg"
              width="19"
              height="19"
              fill="currentColor"
              class="bi bi-arrow-right-circle"
              viewBox="0 0 18 18"
            >
              <path
                fill-rule="evenodd"
                d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"
              />
            </svg>
            Malzeme: abs
          </li>
          <br />
          <li>
            <svg
              style="color: rgb(111, 1, 255)"
              xmlns="http://www.w3.org/2000/svg"
              width="19"
              height="19"
              fill="currentColor"
              class="bi bi-arrow-right-circle"
              viewBox="0 0 18 18"
            >
              <path
                fill-rule="evenodd"
                d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"
              />
            </svg>
            Etiket var, kolayca masaya veya duvara yapışabilir
          </li>
          <br />
          <li>
            <svg
              style="color: rgb(111, 1, 255)"
              xmlns="http://www.w3.org/2000/svg"
              width="19"
              height="19"
              fill="currentColor"
              class="bi bi-arrow-right-circle"
              viewBox="0 0 18 18"
            >
              <path
                fill-rule="evenodd"
                d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"
              />
            </svg>
            Su geçirmez
          </li>
          <br />
          <li>
            <svg
              style="color: rgb(111, 1, 255)"
              xmlns="http://www.w3.org/2000/svg"
              width="19"
              height="19"
              fill="currentColor"
              class="bi bi-arrow-right-circle"
              viewBox="0 0 18 18"
            >
              <path
                fill-rule="evenodd"
                d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"
              />
            </svg>
            Boyut: 5.8 * 5.8 * 0.6cm / 2.28 * 2.28 * 0.24 inç
          </li>
          <br />
          <li>
            <svg
              style="color: rgb(111, 1, 255)"
              xmlns="http://www.w3.org/2000/svg"
              width="19"
              height="19"
              fill="currentColor"
              class="bi bi-arrow-right-circle"
              viewBox="0 0 18 18"
            >
              <path
                fill-rule="evenodd"
                d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"
              />
            </svg>
            Ağırlık: 18g
          </li>
          <br /></ul
      ></span>
    </h5>
  </div>
  <div class="col-md-5 order-md-1">
    <br />
    <img
      class="featurette-image img-fluid mx-auto"
      src="https://www.afandaturkiye.com/upload/product/600x600/garson-cagri-sistemi-4-1525245050-20201023074236.jpg"
      width="350"
      height="350"
      data-src="holder.js/500x500/auto"
      alt="Generic placeholder image"
      loading="lazy"
    />
  </div>
</div>
<br />
<hr class="featurette-divider" />
<br />
<div class="row featurette" style="padding-left: 15%">
  <div class="col-md-7 order-md-2">
    <h5>
      <br />
      <br />
      <span class="text-muted"
        ><ul style="list-style-type: none">
          <li style="padding-right: 10%">
            <svg
              style="color: rgb(111, 1, 255)"
              xmlns="http://www.w3.org/2000/svg"
              width="19"
              height="19"
              fill="currentColor"
              class="bi bi-arrow-right-circle"
              viewBox="0 0 18 18"
            >
              <path
                fill-rule="evenodd"
                d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"
              />
            </svg>
            <strong>Alıcı Özellikleri :</strong>
          </li>

          <br />
          <li>
            <svg
              style="color: rgb(111, 1, 255)"
              xmlns="http://www.w3.org/2000/svg"
              width="19"
              height="19"
              fill="currentColor"
              class="bi bi-arrow-right-circle"
              viewBox="0 0 18 18"
            >
              <path
                fill-rule="evenodd"
                d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"
              />
            </svg>
            Alıcı duyarlılığı: -110dbm
          </li>
          <br />
          <li style="padding-right: 10%">
            <svg
              style="color: rgb(111, 1, 255)"
              xmlns="http://www.w3.org/2000/svg"
              width="19"
              height="19"
              fill="currentColor"
              class="bi bi-arrow-right-circle"
              viewBox="0 0 18 18"
            >
              <path
                fill-rule="evenodd"
                d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"
              />
            </svg>
            Kodlama: milyon grup kaydı
          </li>
          <br />
          <li>
            <svg
              style="color: rgb(111, 1, 255)"
              xmlns="http://www.w3.org/2000/svg"
              width="19"
              height="19"
              fill="currentColor"
              class="bi bi-arrow-right-circle"
              viewBox="0 0 18 18"
            >
              <path
                fill-rule="evenodd"
                d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"
              />
            </svg>
            Güç: 7 piller 1.5V
          </li>
          <br />
          <li>
            <svg
              style="color: rgb(111, 1, 255)"
              xmlns="http://www.w3.org/2000/svg"
              width="19"
              height="19"
              fill="currentColor"
              class="bi bi-arrow-right-circle"
              viewBox="0 0 18 18"
            >
              <path
                fill-rule="evenodd"
                d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"
              />
            </svg>
            Frekans: 433.92MHz
          </li>
          <br />
          <li>
            <svg
              style="color: rgb(111, 1, 255)"
              xmlns="http://www.w3.org/2000/svg"
              width="19"
              height="19"
              fill="currentColor"
              class="bi bi-arrow-right-circle"
              viewBox="0 0 18 18"
            >
              <path
                fill-rule="evenodd"
                d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"
              />
            </svg>
            Sistem kapasitesi: 500 adet numaraları kaydedilebilir
          </li>
          <br />
          <li>
            <svg
              style="color: rgb(111, 1, 255)"
              xmlns="http://www.w3.org/2000/svg"
              width="19"
              height="19"
              fill="currentColor"
              class="bi bi-arrow-right-circle"
              viewBox="0 0 18 18"
            >
              <path
                fill-rule="evenodd"
                d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"
              />
            </svg>
            Siyah renk
          </li>
          <br />
          <li>
            <svg
              style="color: rgb(111, 1, 255)"
              xmlns="http://www.w3.org/2000/svg"
              width="19"
              height="19"
              fill="currentColor"
              class="bi bi-arrow-right-circle"
              viewBox="0 0 18 18"
            >
              <path
                fill-rule="evenodd"
                d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"
              />
            </svg>
            Boyut: 17,1 * 10,2 * 3 cm / 6,7 * 4 * 1,2 inç
          </li>
          <br />
          <li>
            <svg
              style="color: rgb(111, 1, 255)"
              xmlns="http://www.w3.org/2000/svg"
              width="19"
              height="19"
              fill="currentColor"
              class="bi bi-arrow-right-circle"
              viewBox="0 0 18 18"
            >
              <path
                fill-rule="evenodd"
                d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"
              />
            </svg>
            Ağırlık: 110g
          </li>
        </ul></span
      >
    </h5>
  </div>
  <div class="col-md-5 order-md-1">
    <h4 style="color: black">=> P1 Dokunmatik Garson Çağrı Sistemi</h4>
    <br />
    <img
      class="featurette-image img-fluid mx-auto"
      src="https://www.afandaturkiye.com/upload/product/600x600/whatsapp-image-2019-08-30-at-150200-1567166988-20201023074424.jpeg"
      width="350"
      height="350"
      data-src="holder.js/500x500/auto"
      alt="Generic placeholder image"
      loading="lazy"
    />
  </div>
</div>
<br />

<div class="row featurette" style="padding-left: 15%">
  <div class="col-md-7 order-md-2">
    <h5>
      <span class="text-muted"
        ><ul style="list-style-type: none">
          <li>
            <svg
              style="color: rgb(111, 1, 255)"
              xmlns="http://www.w3.org/2000/svg"
              width="19"
              height="19"
              fill="currentColor"
              class="bi bi-arrow-right-circle"
              viewBox="0 0 18 18"
            >
              <path
                fill-rule="evenodd"
                d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"
              />
            </svg>
            Numara tipi: İngilizce, sayılar
          </li>

          <br />
          <li>
            <svg
              style="color: rgb(111, 1, 255)"
              xmlns="http://www.w3.org/2000/svg"
              width="19"
              height="19"
              fill="currentColor"
              class="bi bi-arrow-right-circle"
              viewBox="0 0 18 18"
            >
              <path
                fill-rule="evenodd"
                d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"
              />
            </svg>
            Depolama kapasitesi: maks. 10 adet sayı grubu saklayabilir
          </li>
          <br />
          <li>
            <svg
              style="color: rgb(111, 1, 255)"
              xmlns="http://www.w3.org/2000/svg"
              width="19"
              height="19"
              fill="currentColor"
              class="bi bi-arrow-right-circle"
              viewBox="0 0 18 18"
            >
              <path
                fill-rule="evenodd"
                d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"
              />
            </svg>
            İpucu modu: titreşim (önerilen) veya zil sesleri
          </li>
          <br />
          <li>
            <svg
              style="color: rgb(111, 1, 255)"
              xmlns="http://www.w3.org/2000/svg"
              width="19"
              height="19"
              fill="currentColor"
              class="bi bi-arrow-right-circle"
              viewBox="0 0 18 18"
            >
              <path
                fill-rule="evenodd"
                d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"
              />
            </svg>
            Titreşim süresi: 1-5 saniye
          </li>
          <br />
          <li>
            <svg
              style="color: rgb(111, 1, 255)"
              xmlns="http://www.w3.org/2000/svg"
              width="19"
              height="19"
              fill="currentColor"
              class="bi bi-arrow-right-circle"
              viewBox="0 0 18 18"
            >
              <path
                fill-rule="evenodd"
                d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"
              />
            </svg>
            <strong>Çağrı Düğmesi Özellikleri :</strong>
          </li>
          <br />
          <li>
            <svg
              style="color: rgb(111, 1, 255)"
              xmlns="http://www.w3.org/2000/svg"
              width="19"
              height="19"
              fill="currentColor"
              class="bi bi-arrow-right-circle"
              viewBox="0 0 18 18"
            >
              <path
                fill-rule="evenodd"
                d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"
              />
            </svg>
            İletim mesafesi: 250 metre (açık alan)
          </li>
          <br />
          <li>
            <svg
              style="color: rgb(111, 1, 255)"
              xmlns="http://www.w3.org/2000/svg"
              width="19"
              height="19"
              fill="currentColor"
              class="bi bi-arrow-right-circle"
              viewBox="0 0 18 18"
            >
              <path
                fill-rule="evenodd"
                d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"
              />
            </svg>
            Kodlama: milyon grup kaydı
          </li>
          <br />
          <li>
            <svg
              style="color: rgb(111, 1, 255)"
              xmlns="http://www.w3.org/2000/svg"
              width="19"
              height="19"
              fill="currentColor"
              class="bi bi-arrow-right-circle"
              viewBox="0 0 18 18"
            >
              <path
                fill-rule="evenodd"
                d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"
              />
            </svg>
            Siyah renk
          </li>
          <br />
          <li>
            <svg
              style="color: rgb(111, 1, 255)"
              xmlns="http://www.w3.org/2000/svg"
              width="19"
              height="19"
              fill="currentColor"
              class="bi bi-arrow-right-circle"
              viewBox="0 0 18 18"
            >
              <path
                fill-rule="evenodd"
                d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"
              />
            </svg>
            Pil: iki adet 2025 düğme pil
          </li>
        </ul></span
      >
    </h5>
  </div>
  <div class="col-md-5 order-md-1">
    <img
      class="featurette-image img-fluid mx-auto"
      src="https://www.afandaturkiye.com/upload/product/600x600/whatsapp-image-2019-08-30-at-150201-1567167008-20201023074424.jpeg"
      data-src="holder.js/500x500/auto"
      width="350"
      height="350"
      alt="Generic placeholder image"
      loading="lazy"
    />
  </div>
</div>
<br />

<div class="row featurette" style="padding-left: 15%">
  <div class="col-md-7 order-md-2">
    <h5>
      <span class="text-muted"
        ><ul style="list-style-type: none">
          <li>
            <svg
              style="color: rgb(111, 1, 255)"
              xmlns="http://www.w3.org/2000/svg"
              width="19"
              height="19"
              fill="currentColor"
              class="bi bi-arrow-right-circle"
              viewBox="0 0 18 18"
            >
              <path
                fill-rule="evenodd"
                d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"
              />
            </svg>
            Frekans: 433.92MHz
          </li>

          <br />
          <li>
            <svg
              style="color: rgb(111, 1, 255)"
              xmlns="http://www.w3.org/2000/svg"
              width="19"
              height="19"
              fill="currentColor"
              class="bi bi-arrow-right-circle"
              viewBox="0 0 18 18"
            >
              <path
                fill-rule="evenodd"
                d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"
              />
            </svg>
            Malzeme: abs
          </li>
          <br />
          <li>
            <svg
              style="color: rgb(111, 1, 255)"
              xmlns="http://www.w3.org/2000/svg"
              width="19"
              height="19"
              fill="currentColor"
              class="bi bi-arrow-right-circle"
              viewBox="0 0 18 18"
            >
              <path
                fill-rule="evenodd"
                d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"
              />
            </svg>
            Etiket var, kolayca masaya veya duvara yapışabilir
          </li>
          <br />
          <li>
            <svg
              style="color: rgb(111, 1, 255)"
              xmlns="http://www.w3.org/2000/svg"
              width="19"
              height="19"
              fill="currentColor"
              class="bi bi-arrow-right-circle"
              viewBox="0 0 18 18"
            >
              <path
                fill-rule="evenodd"
                d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"
              />
            </svg>
            Boyut: 5.8 * 5.8 * 0.6cm / 2.28 * 2.28 * 0.24 inç
          </li>
          <br />
          <li>
            <svg
              style="color: rgb(111, 1, 255)"
              xmlns="http://www.w3.org/2000/svg"
              width="19"
              height="19"
              fill="currentColor"
              class="bi bi-arrow-right-circle"
              viewBox="0 0 18 18"
            >
              <path
                fill-rule="evenodd"
                d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"
              />
            </svg>
            Ağırlık: 18g  
          </li>
          <br />
        </ul></span>     
    </h5>
  </div>
  <div class="col-md-5 order-md-1">
    <img
      class="featurette-image img-fluid mx-auto"
      src="https://www.afandaturkiye.com/upload/product/600x600/garson-cagri-sistemi-4-1525245050-20201023074236.jpg"
      data-src="holder.js/500x500/auto"
      width="350"
      height="350"
      alt="Generic placeholder image"
      loading="lazy"
    />
  </div>
</div>
