<section class="light">
	<div class="container py-2">
		<div class="link" id="pageHeaderTitle">Projelerimiz</div>

		<article class="postcard light blue">
			<a class="postcard__img_link" routerLink="sentez-software">
				<img class="postcard__img" src="assets/images/ekol-image/pexels-photo-3780477.jpeg" alt="Image Title" />
			</a>
			<div class="postcard__text t-dark">
				<h1 class="postcard__title blue"><a routerLink="sentez-software">Sentez Yazılım Bölge Çözüm Ortağı</a></h1>
				<div class="postcard__subtitle small">
					<time datetime="2020-05-25 12:00:00">
						<i class="fas fa-calendar-alt mr-2"></i>Lorem Ipsum
					</time>
				</div>
				<div class="postcard__bar"></div>
				<div class="postcard__preview-txt">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, fugiat asperiores inventore beatae accusamus odit minima enim, commodi quia, doloribus eius! Ducimus nemo accusantium maiores velit corrupti tempora reiciendis molestiae repellat vero. Eveniet ipsam adipisci illo iusto quibusdam, sunt neque nulla unde ipsum dolores nobis enim quidem excepturi, illum quos!</div>
				<ul class="postcard__tagbox">
					<li class="tag__item play blue">
						<a routerLink="sentez-software"><i ></i>Daha Fazla Bilgi</a>
					</li>
				</ul>
			</div>
		</article>
		<article class="postcard light red">
			<a class="postcard__img_link" routerLink="meatsys">
				<img class="postcard__img" routerLink="meatsys" src="https://images.pexels.com/photos/5532841/pexels-photo-5532841.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="Image Title" />	
			</a>
			<div class="postcard__text t-dark">
				<h1 class="postcard__title red" ><a routerLink="meatsys">Kesimhane ve İzlenebilirlik Yönetim ve Otomasyon Sistemi</a></h1>
				<div class="postcard__subtitle small">
					<time datetime="2020-05-25 12:00:00">
						<i class="fas fa-calendar-alt mr-2"></i>otomasyon sistemi
					</time>
				</div>
				<div class="postcard__bar"></div>
				<div class="postcard__preview-txt">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, fugiat asperiores inventore beatae accusamus odit minima enim, commodi quia, doloribus eius! Ducimus nemo accusantium maiores velit corrupti tempora reiciendis molestiae repellat vero. Eveniet ipsam adipisci illo iusto quibusdam, sunt neque nulla unde ipsum dolores nobis enim quidem excepturi, illum quos!</div>
				<ul class="postcard__tagbox">
				
					<li class="tag__item play red">
						<a routerLink="meatsys"><i ></i>Daha Fazla Bilgi</a>
					</li>
				</ul>
			</div>
		</article>
		<article class="postcard light green">
			<a class="postcard__img_link" routerLink="/custom-software">
				<img class="postcard__img" src="https://images.pexels.com/photos/8720616/pexels-photo-8720616.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="Image Title" />
			</a>
			<div class="postcard__text t-dark">
				<h1 class="postcard__title green"><a routerLink="/custom-software">Özel Yazılım Hizmetleri</a></h1>
				<div class="postcard__subtitle small">
					<time datetime="2020-05-25 12:00:00">
						<i class="fas fa-calendar-alt mr-2"></i>Yazılım
					</time>
				</div>
				<div class="postcard__bar"></div>
				<div class="postcard__preview-txt">Sizlerin ihtiyaçlarını belirleyip en iyi sistemi size sunarak iş sürecini hızlandırırz.Ekol Bilişim teknolojileri, 10 yılı aşkın bir süredir özel yazılım çözümleri üretmektedir. Fintech’ten sağlık hizmetlerine, lojistikten eğlenceye,  yazılımla ilgili tüm sorunlarınız çözmenize yardımcı olacak uzamanlığa sahibiz. İş ihtiyacınıza göre web mobil uygulamalar geliştirerek işinize destek veren sistemlere göz atmak için tıklayın...</div>
				<ul class="postcard__tagbox">
					
				
					<li class="tag__item play green">
						<a routerLink="/custom-software"><i ></i>Daha Fazla Bilgi</a>
					</li>
				</ul>
			</div>
		</article>
		<article class="postcard light yellow">
			<a class="postcard__img_link" routerLink="/server-system">
				<img class="postcard__img" src="https://images.pexels.com/photos/4508751/pexels-photo-4508751.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="Image Title" />
			</a>
			<div class="postcard__text t-dark">
				<h1 class="postcard__title yellow"><a routerLink="/server-system">Server Sistem Otomasyonları</a></h1>
				<div class="postcard__subtitle small">
					<time datetime="2020-05-25 12:00:00">
						<i class="fas fa-calendar-alt mr-2"></i>Otomasyonlar
					</time>
				</div>
				<div class="postcard__bar"></div>
				<div class="postcard__preview-txt">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, fugiat asperiores inventore beatae accusamus odit minima enim, commodi quia, doloribus eius! Ducimus nemo accusantium maiores velit corrupti tempora reiciendis molestiae repellat vero. Eveniet ipsam adipisci illo iusto quibusdam, sunt neque nulla unde ipsum dolores nobis enim quidem excepturi, illum quos!</div>
				<ul class="postcard__tagbox">
			
					<li class="tag__item play yellow">
						<a routerLink="/server-system"><i ></i>Daha Fazla Bilgi</a>
					</li>
				</ul>
			</div>
		</article>
		<article class="postcard light blue">
			<a class="postcard__img_link" routerLink="/architecture">
				<img class="postcard__img" src="assets/images/ekol-image/pexels-photo-3780477.jpeg" alt="Image Title" />
			</a>
			<div class="postcard__text t-dark">
				<h1 class="postcard__title blue"><a routerLink="/architecture">Eklemeli Mimari</a></h1>
				<div class="postcard__subtitle small">
					<time datetime="2020-05-25 12:00:00">
						<i class="fas fa-calendar-alt mr-2"></i>Lorem Ipsum
					</time>
				</div>
				<div class="postcard__bar"></div>
				<div class="postcard__preview-txt">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, fugiat asperiores inventore beatae accusamus odit minima enim, commodi quia, doloribus eius! Ducimus nemo accusantium maiores velit corrupti tempora reiciendis molestiae repellat vero. Eveniet ipsam adipisci illo iusto quibusdam, sunt neque nulla unde ipsum dolores nobis enim quidem excepturi, illum quos!</div>
				<ul class="postcard__tagbox">
					<li class="tag__item play blue">
						<a routerLink="/architecture"><i ></i>Daha Fazla Bilgi</a>
					</li>
				</ul>
			</div>
		</article>
		<article class="postcard light red">
			<a class="postcard__img_link" routerLink="data-log">
				<img class="postcard__img" routerLink="data-log" src="https://images.pexels.com/photos/5532841/pexels-photo-5532841.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="Image Title" />	
			</a>
			<div class="postcard__text t-dark">
				<h1 class="postcard__title red" ><a routerLink="data-log" style="padding-right: 10%;">Güvenlik ve Ağ Sistemleri</a></h1>
				<div class="postcard__subtitle small">
					<time datetime="2020-05-25 12:00:00">
						<i class="fas fa-calendar-alt mr-2"></i>otomasyon sistemi
					</time>
				</div>
				<div class="postcard__bar"></div>
				<div class="postcard__preview-txt">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, fugiat asperiores inventore beatae accusamus odit minima enim, commodi quia, doloribus eius! Ducimus nemo accusantium maiores velit corrupti tempora reiciendis molestiae repellat vero. Eveniet ipsam adipisci illo iusto quibusdam, sunt neque nulla unde ipsum dolores nobis enim quidem excepturi, illum quos!</div>
				<ul class="postcard__tagbox">
				
					<li class="tag__item play red">
						<a routerLink="meatsys"><i ></i>Daha Fazla Bilgi</a>
					</li>
				</ul>
			</div>
		</article>
		<article class="postcard light green">
			<a class="postcard__img_link">
				<img class="postcard__img" src="https://images.pexels.com/photos/8720616/pexels-photo-8720616.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="Image Title" />
			</a>
			<div class="postcard__text t-dark">
				<h1 class="postcard__title green"><a >TKDK ve IPARD</a></h1>
				<div class="postcard__subtitle small">
					<time datetime="2020-05-25 12:00:00">
						<i class="fas fa-calendar-alt mr-2"></i> Anahtar Teslim Projeler 
					</time>
				</div>
				<div class="postcard__bar"></div>
				<div class="postcard__preview-txt">Sizlerin ihtiyaçlarını belirleyip en iyi sistemi size sunarak iş sürecini hızlandırırz.Ekol Bilişim teknolojileri, 10 yılı aşkın bir süredir özel yazılım çözümleri üretmektedir. Fintech’ten sağlık hizmetlerine, lojistikten eğlenceye,  yazılımla ilgili tüm sorunlarınız çözmenize yardımcı olacak uzamanlığa sahibiz. İş ihtiyacınıza göre web mobil uygulamalar geliştirerek işinize destek veren sistemlere göz atmak için tıklayın...</div>
				
			</div>
		</article>
	</div>
</section>