<div class="header">
  <div class="header__bg"></div>

  <h1 class="header__title">Ağ Güvenliği ve Loglama Sistemi</h1>
</div>
<br />
<br />
<br />
<div class="about">
  <div class="about__title">
    <h2 class="about__title--text">Ağ Güvenliği ve Loglama Sistemi Nedir?</h2>
  </div>
  <div class="about__text">
    <p class="about__text--content">
      Ağınızda oluşabilecek illegal trafiklerin önüne geçebilmek bir derttir ve
      kullanıcılarınızın ağınızda neler yaptığını bilmeden bu kontrolü
      gerçekleştirmek ekstra zaman kaybından başka birşey değildir.
      Kullanıcılarınızın mesai saatlerinde istemediğiniz sitelere ve
      uygulamalara eriştiğini ve aşırı trafik ürettiğini bilmenize rağmen
      bunları engelleyemiyor olabilirsiniz. Ağı kontrol etmenizi ve hem zamandan
      kar etmenizi hem de yönetmenizi kolaylaştıran basit ve güçlü bir güvenliğe
      ihtiyacınız var. XLOG Ağ Güvenlik ve Loglama Sistemi UTM Güvenlik
      Duvarı'nda bunu ve daha fazlasını sunar
    </p>
  </div>
</div>
<br /><br /><br />

<div style="color: black">
  <div style="text-align: center">
    <h1>Ağ Güvenliği ve Loglama Sistemi Özellikleri</h1>
  </div>
</div>
<br />
<br /><br />
<main role="main">
  <!-- Marketing messaging and featurettes
      ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->

  <div class="container marketing" style="margin: auto">
    <!-- Three columns of text below the carousel -->
    <div class="row" style="text-align: center">
      <div class="col-lg-4">
        <img
          class="rounded"
          src="https://xlog.com.tr/assets/themes/default/images/icons/xlog/firewall.png"
          alt="Generic placeholder image"
          width="200"
          height="200"
        />
        <h4>Güvenlik Duvarı</h4>
        <br />
        <p style="padding-right: 10%;padding-left: 10%;">
          Ağınıza yönelik saldırıları cihazlarınıza ulaşmadan önce engelleyen
          kolay yönetilebilir bir güvenlik duvarı. Port taramaları, SYN
          Saldırıları ve bir çok saldırı çeşitlerini otomatik olarak önleyin.
        </p>
      </div>
      <!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img
          class="rounded"
          src="https://xlog.com.tr/assets/themes/default/images/icons/xlog/ips-ids.png"
          alt="Generic placeholder image"
          width="200"
          height="200"
        />
        <h4>IPS/IDS</h4>
        <br />
        <p style="padding-right: 10%;padding-left: 10%;">
          Her paketin içeriğini, ağa girmeden önce IDS / IPS ile kötü amaçlı
          içerik açısından incelenir. Olası tehditleri durdurur aynı zamanda
          süresel bazda tekrar saldırı gelme ihtimaline karşı süreli olarak
          karantinaya alır. Dinamik imza veritabanı ile sürekli güncellenir.
        </p>
        <br><br>
      </div>
      <!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img
          class="rounded"
          src="https://xlog.com.tr/assets/themes/default/images/icons/xlog/web-filtreleme.png"
          alt="Generic placeholder image"
          width="200"
          height="200"
        />
        <h4>Web Filtreleme</h4>
        <br />
        <p style="padding-right: 10%;padding-left: 10%;">
          Web Filtremele ile hali hazırda cihaz üzerinde bulunan kara listeleri
          kullanarak kullanıcılarınızın giriş yapmasını istemediğiniz siteleri
          engelleyebilirsiniz.
        </p>
      </div>
      <!-- /.col-lg-4 -->

      <!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img
          class="rounded"
          src="https://xlog.com.tr/assets/themes/default/images/icons/xlog/https-filtreleme.png"
          alt="Generic placeholder image"
          width="200"
          height="200"
        />
        <h4>HTTPS Filtreleme</h4>
        <br />
        <p style="padding-right: 10%;padding-left: 10%;">
          HTTPS adreslerin engellenmesi için sertifika gerekmeden ve proxy
          kullanmadan sadece bir kaç tıklama ile kullanıcılarınızı istenmeyen
          alt https adreslerine kadar engelleme veya izin verme işlemi
          yapabilirsiniz..
        </p>
      </div>
      <!-- /.col-lg-4 -->

      <!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img
          class="rounded"
          src="https://xlog.com.tr/assets/themes/default/images/icons/xlog/hotspot.png"
          alt="Generic placeholder image"
          width="200"
          height="200"
        />
        <h4>Hotspot</h4>
        <br />
        <p style="padding-right: 10%;padding-left: 10%;">
          Kullanıcılarınızı TC Kimlik / SMS / LDAP / OTEL / 3.Parti Yazılımlar
          ile doğrulayarak internete giriş yapmalarını sağlayabilirsiniz. Bu
          sayede Ağınızdaki kullanıcıları 5651 kapsamına uygun bir şekilde log
          kayıtlarını almış olursunuz.
        </p>
        <br><br>
      </div>
      <!-- /.col-lg-4 -->

      <!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img
          class="rounded"
          src="https://xlog.com.tr/assets/themes/default/images/icons/xlog/bandwidth.png"
          alt="Generic placeholder image"
          width="200"
          height="200"
          loading="lazy"
        />
        <h4>Hız Sınırlama</h4>
        <br />
        <p style="padding-right: 10%;padding-left: 10%;">
          Hız sınırlama ile ağınızdaki kullanıcıların aşırı trafik tüketmesini
          engeleyebilir ve hızlarını düşürebilirsiniz. Bu sayede rahat bir
          internet kullanımına kavuşursunuz.
        </p>
      </div>
      <!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img
          class="rounded"
          src="https://xlog.com.tr/assets/themes/default/images/icons/xlog/gui-based.png"
          alt="Generic placeholder image"
          width="200"
          height="200"
        />
        <h4>Arayüz Yönetimi</h4>
        <br />
        <p style="padding-right: 10%;padding-left: 10%;">
          Türkçe ve İngilizce dil seçenekli web arayüz yönetimi ile Ağ
          uyarılarını görüntüleyin, ayarları değiştirin veya tek bir tıklama ile
          ENGELLEYİN veya İZİN verin
        </p>
      </div>
      <!-- /.col-lg-4 -->

      <!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img
          class="rounded"
          src="https://xlog.com.tr/assets/themes/default/images/icons/xlog/update.png"
          alt="Generic placeholder image"
          width="200"
          height="200"
        />
        <h4>Otomatik Güncellemeler</h4>
        <br />
        <p style="padding-right: 10%;padding-left: 10%;">
          Yazılımımız otomatik olarak güncellenir. Kötü amaçlı yazılım ve
          illegal içerikli adreslerin otomatik olarak engellenir, böylece ağınız
          güvende olur. Güncel sürümler ile güvende kalırsınız.
        </p>
        <br><br>
      </div>
      <!-- /.col-lg-4 -->

      <!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img
          class="rounded"
          src="https://xlog.com.tr/assets/themes/default/images/icons/xlog/vpn-ssl-vpn.png"
          alt="Generic placeholder image"
          width="200"
          height="200"
          loading="lazy"
        />
        <h4>VPN/SSL VPN</h4>
        <br />
        <p style="padding-right: 10%;padding-left: 10%;">
          Uzaktaki şubeleriniz için VPN ile ağlarınızı birleştirebilirsiniz.
          Ağlarınız arasındaki Fiziksel Uzaklığı ortadan kaldırabilirsiniz. SSL
          VPN yazılımsal çözümümüz ile bilgisayarınızdan ağınıza şifreli olarak
          anında dahil olabilirsiniz.
        </p>
      </div>
      <div class="col-lg-4">
        <img
          class="rounded"
          src="https://xlog.com.tr/assets/themes/default/images/icons/xlog/load-balance.png"
          alt="Generic placeholder image"
          width="200"
          height="200"
        />
        <h4>Hat Birleştirme</h4>
        <br />
        <p style="padding-right: 10%;padding-left: 10%;">
          İnternet bağlantılarının yetersiz olduğu yerlerde birden fazla
          internet hattını birleştirerek tek bir internet hattıymış gibi
          kullandırır ve internet hızınızı yükseltir.
        </p>
      </div>
      <!-- /.col-lg-4 -->

      <!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img
          class="rounded"
          src="https://xlog.com.tr/assets/themes/default/images/icons/xlog/failover.png"
          alt="Generic placeholder image"
          width="200"
          height="200"
        />
        <h4>Hat Yedekleme</h4>
        <br />
        <p style="padding-right: 10%;padding-left: 10%;">
          İnternet bağlantınızın kopması durumunda yedekli bir sistem
          oluşturabilir ve birden fazla internet hattını yedekli bir şekilde
          çalıştırarark internet kesintilerinizi önleyebilirsiniz.
        </p>
        
      </div>
      <!-- /.col-lg-4 -->
      
      <!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img
          class="rounded"
          src="https://xlog.com.tr/assets/themes/default/images/icons/xlog/loglama.png"
          alt="Generic placeholder image"
          width="200"
          height="200"
          loading="lazy"
        />
        <h4>Loglama/İmzalama</h4>
        <br />
        <p style="padding-right: 10%;padding-left: 10%;">
          Sistem üzerinde kaydedilen tüm log kayıtları Tubitak Zaman Damgası ile
          imzalanarak cihaz üzerinde saklanır.
        </p>
        <br><br>
      </div>
    </div>
  </div>

  <!-- /.row -->
</main>
